.heading-inventory
{
    text-align: center;
}
#container
{
    background-color: rgb(237,247,240);
}
#register
{
    height: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}
.nothing
{
    text-align: center;
}
.rowdsd
{
    display: flex;
    justify-content: space-between;
}
@media(max-width: 344px)
{
.rowdsd
{
    flex-direction: column;
}
.extra
{
    display: flex;
    justify-content: space-around;
 
}
}
