.heade
{
    text-align: center;

}
.main1
{
    box-shadow: 3px 3px 3px 3px black;
    width: 40vw;
    justify-content: center;
    margin-left: 27%;

}
.image
{
    display: flex;
    justify-content: space-evenly
}
.image1
{
    width: 80%;
    height: 35vh;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  /* Extra-tab*/
  .title-extra
  {
      background-color: #F6F6F6;
      text-align: center;
      padding: 5px 0;
  }

  .image2 img
  {
      width: 90%;
      margin-left: 4%;
  }  
  .extra2
{
    background-color: rgba(0,0,0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
}
.e
{
    font-weight: bold;
    color: white;
}

.e:hover
{
    color: white;
}
.headng
{
    margin-left: 5%;
}
.p
{
    margin-left: 5%;
    margin-right: 5%;
    color: gray;
    font-size: 0.7rem;
}
.h5
{
    text-align: center;
}
.extra-tab
{
    width: 30%;
    position: relative;
    background-color: white;
    height: 80vh;
    overflow: scroll;
    margin-top: 4%;
}
.extra-item
{
    display: flex;
    justify-content: space-between;
}
.hide
{
    display: none;
}
.price-extra
{
    color: grey;
    font-size: 0.7rem;
}
.item-name
{
    display: flex;
    flex-direction: column;
}

/* Extra-tab */
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.price
{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.description
{
  
    text-align: center;
    font-weight: bold;
    align-content: center;

}
@media(max-width: 1124px)
{
.main1
{
    width: 60vw;
    margin-left: 20%;
}
.extra-tab
{
    width: 40%;
}
}
@media(max-width: 784px)
{
    .extra-tab
    {
        width: 60%;
    }
}
@media(max-width: 650px)
{
.main1
{
    width: 70vw;
    margin-left: 15%;
}
.extra-tab
    {
        width: 65%;
    }
}
@media(max-width: 450px)
{
.main1
{
    width: 90vw;
    margin-left: 5%;
}
.extra-tab
    {
        width: 80%;
    }

}
@media(max-width: 350px)
{
    .extra-tab
    {
        width: 100%;
    }
    .btns
    {
        font-size: .7rem;
    }
}